@font-face {
	font-family: MORVA;
	src: url('../fonts/morva/MORVA.ttf');
}

@font-face {
	font-family: Nexa-Bold;
	src: url('../fonts/nexa/Nexa Bold.otf');
}

@font-face {
	font-family: Nexa-Light;
	src: url('../fonts/nexa/Nexa Light.otf');
}

.nav-link {
	font-family: Nexa-Light;
}



.Morva {
	font-family: MORVA;
}

.Nexa-Light {
	font-family: Nexa-Light;
}

.Nexa-Bold {
	font-family: Nexa-Bold;
}

.logo {
	font-size: 5vw;
	color: white;
}

.navbar-brand,
.nav-link {
	color: white !important;
}

nav>button {
	color: white;
}

.navbar-brand {
	margin-left: 10rem;
}

.navbar-toggler:focus, .navbar-toggler:hover {
    text-decoration: none;
    border: 0;
	outline: none;
}

.dropdown-menu{
	background-color: #0e0e0e !important;
}

.dropdown-item{
	color: #fff !important;
}

.dropdown-item:hover{
	background-color: #5d5d5d8c;
}

.social-nav{
	display: inline-block;
}
.social-nav>li{
	display: inline-block;
}

.about-us {
	margin-top: 6rem;
	margin-left: 7rem;
	border-bottom: 1px solid black;
}

.about-us>div>p {
	padding: 0 0 0 10px;
	border-left: 2px solid black;
}

.about-us>div>h2 {
	margin-left: 100px;
}

.about-us-text {
	margin-top: 0;
}


@media (max-width:768px) {
	
	.about-us {
		margin-left: 0;
	}

	.about-us-text {
		margin-top: 0;
	}
}





.bg-light {
	background-color: black !important;
}




.parent {
	position: relative;
	margin: 2em;
}

.parent img {
	position: absolute;

}



.parent .overlay {
	position: absolute;
	top: 2vw;
	text-align: center;

}

.overlay {
	background-color: #fff;
	width: 80%;
	margin-top: 350px;
	margin-left: 100px;
	font-size: 40px;
	border-bottom: 1px solid black;
	padding-bottom: 80px;
}




.exclusive {
	margin-top: calc(60vw - 1rem)
}



.Third-Row {
	margin-top: 600px;
}


.footer {
	background-color: black;
}

.footer>div>div>div>h1 {
	font-size: 15vw;
	color: #0e0e0e !important;

}

.sign {
	background-color: #444444;
	color: white;
	border: 0;
	padding: 10px 20px 10px 20px;
}

.col>h2 {
	margin-top: 70px;
}

.footer>div>div>.col {
	text-align: center;
}

.footer>div>div>div>p {
	font-size: 20px;
}

input {
	padding: 10px 20px 10px 20px;
	color: #444444;
	font-family: Nexa-Light;
}


.archive-date {
	margin: 5% 0;
	font-family: Nexa-Light;
	font-size: 18px;
}

.archive-sperator-line {
	width: 95%;
}

.img-container{
	padding: 30px 0;
}

.col-md-4>a>img{
    width: 300px;
    height: 80%;
    object-fit: cover;
}

.img-title{
	text-align: center;
}


@media (max-width:991px) {
	.col-md-4>a>img{
		width: 100% !important;
	}
	.social-nav>li{
		margin: 0 5px 0 3px;
	}
	.navbar-brand {
		margin-left: 0rem;
	}
	.overlay {
		width: 80%;
		margin-top: calc(30	vh - 25px);
		margin-left: calc(3vw + 30px);
		font-size: 25px;
	}

	.Third-Row {
		margin-top: 550px;
	}
}

@media (max-width:767px) {
	.about-us {
		margin-top: 3rem;
		margin-left: 0px
	}

	.about-us-text {
		margin-top: 0vw;
	}

	.about-us>div>h2 {
		margin-left: 40px;
	}

	.overlay {
		width: 80%;
		margin-top: 40%;
		font-size: 20px;
		padding-bottom: 10%;
		padding-left: 5%;
		padding-right: 5%;
	}
	.Third-Row {
		margin-top: calc(45vw + 10%);
	}
}

@media (max-width:576px) {
	.col-xs-6 {
		width: 50%;
	}

	.about-us>div>p {
		font-size: calc(3.5vw - 3px);
	}

	.about-us>div>h2 {
		margin-left: 10px;
		font-size: 6vw;
	}
}

@media (max-width:464px) {
	.overlay {
		margin-top: 40%;
		margin-left: 10%;
		font-size: 12px;
		padding-bottom: 5%;
		font-size: calc(1rem - 5px);
	}
}